* {
    outline: none;
}
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
/*#intro > *:first-child {
    margin-top: 0;
}*/
.section > *:first-child {
    margin-top: 0;
}
.section > *:last-child {
    margin-bottom: 0;
}
* {
    box-sizing: border-box;
}

a, body.isDesktop a:hover, a:active {
    text-decoration: none;
    color: #3f51b5;
}
/*h1, h2, h3, p {
    display: inline-block;
}*/
.psect {
    padding: 20px;
}
.section {
    min-height: 100vh;
    padding: 20px;
}
.section:nth-child(2n+1) {
    /*background-color: #565656;*/
}

#title, #intro h3 {
    position: absolute;
    top: 30%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
#intro h3 {
    left: 0;
}
#intro.section {
    background-image: url('/img/carl-palm.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}
#intro *, #title * {
    margin: 0;
}
#title {
    position: absolute;
    /*width: 100%;
    right: 0;*/
    left: 30px;
    z-index: 1000;
    /*background: rgb(86,86,86);*/
    /*background-color: white;*/
    /*padding-bottom: 10px;*/
    /* http://www.cssmatic.com/gradient-generator#'\-moz\-linear\-gradient\%28top\%2C\%20rgba\%2886\%2C86\%2C86\%2C1\%29\%2078\%25\%2C\%20rgba\%2886\%2C86\%2C86\%2C0\.59\%29\%2087\%25\%2C\%20rgba\%28255\%2C255\%2C255\%2C0\%29\%20100\%25\%29\%3B' */
    /*background: rgba(86,86,86,1);
    background: -moz-linear-gradient(top, rgba(86,86,86,1) 78%, rgba(86,86,86,0.59) 87%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(78%, rgba(86,86,86,1)), color-stop(87%, rgba(86,86,86,0.59)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(86,86,86,1) 78%, rgba(86,86,86,0.59) 87%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(86,86,86,1) 78%, rgba(86,86,86,0.59) 87%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(86,86,86,1) 78%, rgba(86,86,86,0.59) 87%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(86,86,86,1) 78%, rgba(86,86,86,0.59) 87%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565656', endColorstr='#ffffff', GradientType=0 );*/
}
#intro.section h3 {
    padding-top: 37px;
    margin-top: 20px;
    margin-left: 69px;
}
#title-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 999;
    -webkit-transition: padding-top 250ms ease-out, text-align 250ms ease-out;
    -moz-transition: padding-top 250ms ease-out, text-align 250ms ease-out;
    -o-transition: padding-top 250ms ease-out, text-align 250ms ease-out;
    transition: padding-top 250ms ease-out, text-align 250ms ease-out;
}
#intro.project #title-nav {
    position: absolute;
}
#title-nav ul {
    float: right;
    /*position: absolute;
    top: 0;
    right: 0;*/
    line-height: 37px;
}
#title-nav li {
    display: inline;
}
#title-nav li a {
    /*color: #e4e4e4;*/
}
#title-nav li::after {
    content: ' \2022 ';
}
#title-nav li:last-child::after {
    content: none;
}

.sticky #title {
    position: fixed;
    top: 0;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
}
#intro.project.sticky #title {
    position: absolute;
}
#title, #title-nav {
    padding: 5px;
}
#title h1,
#title-nav h3 {
    font-weight: normal;
}
#title h1 {
    display: inline-block;
}
#title h1 a {
    color: black;
}
#intro.project.sticky {
    position: static;
    width: 100%;
    height: 47px;
}

#mentions .kudos {
    margin: 0 25px;
    position: relative;
    margin-bottom: 50px;
}
#mentions .kudos .slick-slide {
    min-height: 80vh;
    position: relative;
}
#mentions .kudos .kudo > div {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center;
}
#mentions .kudos .kudo .icon {
    width:160px;
    max-width: 33vw;
    max-height: 33vh;
    display: inline-block;
    vertical-align: middle;
}

#projects .more {
    margin-top: 0;
    display: inline-block;
    top: 50%;
    width: 100%;
    left: 0;
    position: absolute;
    -ms-transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
}
#projects .more a {
    border-radius: 50%;
    background-color: lightgrey;
    height: 44px;
    width: 44px;
    display: inline-block;
    line-height: 44px;
}
body.isDesktop #projects .more a:hover {
    background-color: #9e9e9e;
}
#projects {
    text-align: center;
}
#projects .project {
    display: inline-block;
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    height: 40vh;
    min-height: 300px;
    width: 30vw;
    min-width: 300px;
    position: relative;
    margin-bottom: 5vh;
}
@media (min-width: 715px) {
    #projects .project:nth-child(2n) {
        margin-right: 10vw;
    }
}
@media (max-width: 714px) {
    #projects .project {
        clear: both;
        display: block;
        margin-left: auto;
        margin-right: auto;
        min-width: none;
        max-width: 100%;
        width: 300px;
    }
}
#projects .project div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    opacity: 0.9;
    -webkit-transition: opacity 250ms ease-out;
    -moz-transition: opacity 250ms ease-out;
    -o-transition: opacity 250ms ease-out;
    transition: opacity 250ms ease-out;
}
#projects .project > a {
    color: black;
}
body.isDesktop #projects .project:hover > a > div {
    opacity: 0;
}
#projects .project div h3 {
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.kudos button.slick-arrow {
    height: 50px;
    width: 25px;
    color: black;
}
button.slick-prev.slick-arrow:before,
button.slick-next.slick-arrow:before {
    color: black;
    font-size: 50px;
    cursor: pointer;
}
button.slick-prev.slick-arrow:before {
    content: '\276C';
} 
button.slick-next.slick-arrow:before {
    content: '\276D';
}
.wc-flow {
    width: 415px;
    display: inline-block;
    max-width: 100%;
    max-width: calc(100% - 50px);
}
.wc-flow .slick-slide {
    position: relative;
}
.wc-flow h5 {
    font-size: 1em;
    margin-bottom: 0.5em;
}

#blurb.section {
    /*position: relative;*/
    min-height: 0;
    padding-bottom: 175px;
}
#blurb > div {
    /*position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    max-width: 100%;*/
}
#blurb .social {
    text-align: center;
    margin-top: 75px;
}
#blurb .social > div {
    display: inline-block;
    width: 20%;
    min-width: 185px;
    margin-bottom: 10px;
}
#blurb .social > div a {
    line-height: 30px;
    height: 30px;
    padding-left: 35px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: left;
    display: inline-block;
}
#blurb .social > div img {
    width: 30px;
}

#mentions {
    box-sizing: border-box;
    padding-top: 47px;
    padding-bottom: 5px;
}
#mentions * {
    box-sizing: initial;
}

.psect, .project, .section {
    max-width: 1200px;
    clear: both;
}
@media (min-width: 1200px) {
    .psect, .project, .section {
        margin-left: auto;
        margin-right: auto;
    }
}

.psect {
    text-align: center;
}
.psect img {
    max-width: 100%;
}
.psect > * {
    text-align: left;
}
.sxs > div {
    float: left;
    margin: 0 10px;
}
.psect .question.prompt {
    display: inline-block;
    margin: 10px;
    padding: 1.5em 10px 0 10px;
}
.psect .question.prompt > * {
    margin: auto;
}
.psect .question.prompt h4 {
    font-family: 'Permanent Marker', cursive;
    margin-top: 0;
    margin-bottom: 10px;
}
.psect .question.prompt .sxs > div {
    margin: 0;
    width: 33%;
    font-size: 18px;
}
.psect .question.prompt .sxs h4 {
    text-decoration: underline;
    font-size: 20px;
}

.prompt,
.psect .brainstorm .idea {
    text-align: center;
    margin: 0 auto;
    max-width: 380px;
    background-color: lightgray;
    border-radius: 10px;
    padding: 8px;
    background-color: #f1ab26;
    border-radius: 0;
    height: 325px;
    width: 325px;
    font-family: 'Permanent Marker', cursive;
    font-size: 26px;
    -moz-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
    -moz-box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.80);
    box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.80);
}
.prompt {
    margin-bottom: 30px;
}
.prompt h3 {
    line-height: 1;
}
.prompt > * {
    margin: 1em 0;
}
.psect .synthesis,
.psect .brainstorm,
.psect .feedback {
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    /*max-height: 3500px;*/
    overflow: hidden;
}
.psect .synthesis {
    /*max-height: 2200px;*/
}
.psect .brainstorm {
    text-align: center;
    border: 1px dashed darkblue;
    border-radius: 10px;
    padding: 10px;
}
@media (min-width: 1100px) {
    .psect .brainstorm {
        padding-top: 75px;
    }
}
.psect .brainstorm.collapsed,
.psect .synthesis.collapsed,
.psect .feedback.collapsed {
    max-height: 200px !important;
    position: relative;
    height: 200px !important;
    width: 500px !important;
    max-width: 100%;
    margin: 0 auto;
}
/*.brainstorm::before {
    content: 'Brainstorm:';
    display: block;
    margin: 1em 0;
    font-weight: bold;
}*/
.psect .brainstorm .title {
    max-width: 100%;
    width: 310px;
}
.psect .brainstorm .title h1 {
    text-decoration: none;
    color: black;
}
.psect .brainstorm.collapsed .expander,
.psect .synthesis.collapsed .expander,
.psect .feedback.collapsed .expander {
    height: 200px;
    width: 500px;
    opacity: 1;
}
.psect .brainstorm .expander,
.psect .synthesis .expander,
.psect .feedback .expander {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    /*left: 50%;*/
    /*-moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);*/
    z-index: 9999;
    cursor: pointer;
    background-color: #efefef;
    /*font-size: 22px;
    line-height: 1;*/
    /*padding: 7px 14px 0 14px;*/
    /*border-top-left-radius: 10px;
    border-top-right-radius: 10px;*/
    animation-iteration-count: infinite;
    animation-duration: 3000ms;
    animation-timing-function: ease-in-out;
    -webkit-transition: all 750ms ease-out;
    -moz-transition: all 750ms ease-out;
    -o-transition: all 750ms ease-out;
    transition: all 750ms ease-out;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    opacity: 0;
}
.psect .brainstorm .expander {
    animation-name: bpulse;
}
.psect .synthesis .expander {
    animation-name: spulse;
}
.psect .feedback .expander {
    animation-name: fpulse;
}
@keyframes bpulse {
  50% {
    background-color: #4CAF50;
  }
}
@keyframes spulse {
  50% {
    background-color: #205fab;
  }
}
@keyframes fpulse {
  50% {
    background-color: #53429e;
  }
}
.psect .brainstorm .expander {
    background-color: #5fcc63;
}
body.isDesktop .psect .brainstorm .expander:hover {
    background-color: #4CAF50;
    animation: none;
}
.psect .synthesis .expander {
    background-color: #4488da;/*#4F83C1;*/
}
body.isDesktop .psect .synthesis .expander:hover {
    background-color: #205fab;/*#8574D0;*/
    animation: none;
}
.psect .feedback .expander {
    background-color: #8574D0;
}
body.isDesktop .psect .feedback .expander:hover {
    background-color: #53429e;
    animation: none;
}
.psect .brainstorm .idea:nth-child(2n) {
    -moz-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
}
.psect .brainstorm .idea:nth-child(3n) {
    -moz-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
}
.psect .brainstorm .idea:nth-child(4n) {
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
}
.psect .brainstorm .idea {
    min-height: 300px;
    height: 300px;
    width: 300px;
    max-width: 300px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 16px;
    margin-right: 15px;
}
@media (max-width: 994px) {
    .psect .brainstorm .idea:nth-child(even) {
        margin-right: 0;
    }
}
@media (max-width: 668px) {
    .psect .brainstorm .idea {
        margin-right: 0;
    }
}
.psect .brainstorm .idea:nth-child(odd) {
    background-color: #4F83C1;
}
.psect .brainstorm .idea:nth-child(even) {
    background-color: #8574D0;
}
.psect .brainstorm .idea p,
.psect .brainstorm .idea li {
    font-size: 18px;
}
/*.prompt::before {
    content: 'Prompt:';
    display: block;
    margin: 0.5em 0;
    font-weight: bold;
}*/
.brainstorm h1,
.brainstorm h2,
.brainstorm h3,
.brainstorm h4,
.brainstorm h5 {
    font-family: 'Permanent Marker', cursive;
    margin-top: 0;
}
.psect .brainstorm .question,
.psect .brainstorm.question {
    font-family: 'Gloria Hallelujah', cursive;
}
.psect .brainstorm .question.list {
    width: 450px;
    max-width: 100%;
    margin: 0 auto;
}
.psect .brainstorm .question.list p {
    text-align: left;
}
.psect .synthesis {
    padding: 10px;
    /*float: left;
    clear: both;*/
    background-color: #e8f2ff;/*lightgray;*/
    margin: 15px;
    -webkit-transition: max-height 2s ease-out;
    -moz-transition: max-height 2s ease-out;
    -o-transition: max-height 2s ease-out;
    transition: max-height 2s ease-out;
    max-height: 2000px;
}
.psect .synthesis blockquote {
    display: inline-block;
}
.psect .feedback {
    padding: 10px;
    background-color: #bdaffd;/*#d5e0ff;*/
    margin: 15px;
}
.psect blockquote {
    position: relative;
}
.psect blockquote:before,
.psect blockquote:after {
    display: block;
    position: absolute;
    height: 0;
    content: "“";
    color: #999;
    font-size: 55px;
    top: -14px;
    left: -21px;
}
.psect blockquote:after {
    content: "”";
    left: auto;
    right: -21px;
}
.psect > a > img {
    max-width: 100%;
    width: 350px;
    margin: 1em 0;
    vertical-align: middle;
}
@media (max-width: 684px) {
    .psect > a > img {
        display: block;
        margin-left: auto;
        margin-right: auto !important;
    }
}
.psect > a.graphic > img {
    width: 225px;
    margin: 0;
}
/*.synthesis::before {
    content: 'Synthesis:';
    display: block;
    margin: 1em 0;
    font-weight: bold;
}
.feedback::before {
    content: 'Feedback:';
    display: block;
    margin: 1em 0;
    font-weight: bold;
}*/
.icon-presentation {
    height: 35px;
    vertical-align: middle;
}

.psect.end {
    margin: 100px 0;
}
.psect.end p {
    text-align: center;
}

#skills .click-me {
    width: 125px;
    margin-left: 23px;
    animation: shake 1.5s cubic-bezier(.36,.07,.19,.97) both;
    animation-iteration-count: infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    opacity: 0;
    -webkit-transition: opacity 750ms ease-out;
    -moz-transition: opacity 750ms ease-out;
    -o-transition: opacity 750ms ease-out;
    transition: opacity 750ms ease-out;
}
#skills .click-me.visible {
    opacity: 1;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0) rotate(0.5deg);
  }
  
  20%, 80% {
    transform: translate3d(1px, 0, 0) rotate(-1.2deg);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0) rotate(0.5deg);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0) rotate(-1.4deg);
  }
}
#skills .primary,
#skills .secondary {
    position: relative;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
}
#skills .primary {
    height: 200px;
    margin-bottom: 10px;
}
#skills .secondary {
    height: 310px;
}
#skills .primary > div {
    position: absolute;
    bottom: 0;
}
#skills .primary .skill,
#skills .secondary .sub-skill {
    height: 0;
    width: 35px;
    margin-right: 7px;
    background-color: lightgray;
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    overflow: hidden;
}
body.isDesktop #skills .primary .skill:hover {
    background-color: #a0a0a0;
}
#skills .primary .skill:last-child,
#skills .secondary .sub-skill:last-child {
    margin-right: 0;
}
#skills .primary .skill {
    cursor: pointer;
    -webkit-transition: background-color 250ms ease-out;
    -moz-transition: background-color 250ms ease-out;
    -o-transition: background-color 250ms ease-out;
    transition: background-color 250ms ease-out;
}
#skills .primary .skill.selected {
    background-color: #3f51b5;
    color: white;
    cursor: default;
}
/* body.isDesktop #skills .primary .skill.selected:hover {
    background-color: #4e64de;
}*/
#skills .secondary .sub-skill {
    vertical-align: top;
}
#skills .primary .skill > div,
#skills .secondary .sub-skill > div {
    position: absolute;
    left: 0;
    transform-origin: top left;
    white-space: nowrap;
}
#skills .primary .skill > div {
    -moz-transform: translate(8px,100%) translateY(-5px) rotate(-90deg);
    -o-transform: translate(8px,100%) translateY(-5px) rotate(-90deg);
    -webkit-transform: translate(8px,100%) translateY(-5px) rotate(-90deg);
    transform: translate(8px,100%) translateY(-5px) rotate(-90deg);
    bottom: 0;
}
#skills .secondary .sub-skill > div {
    -moz-transform: rotate(-90deg) translate(-100%,8px) translateX(-5px);
    -o-transform: rotate(-90deg) translate(-100%,8px) translateX(-5px);
    -webkit-transform: rotate(-90deg) translate(-100%,8px) translateX(-5px);
    transform: rotate(-90deg) translate(-100%,8px) translateX(-5px);
    top: 0;
}
#skills .secondary .skill {
    display: none;
}


@media (max-width: 950px) {
    #intro.section {
        background-position-x: 25%;
    }
}
@media (max-width: 780px) {
    #intro.section {
        background-position-x: 38%;
    }
}
@media (max-width: 630px) {
    #intro.section {
        background-position-x: 50%;
    }
}
@media (max-width: 450px) {
    #intro.section {
        background-position-x: 50%;
    }
    #intro #title {
        left: 0;
    }
    #intro.section h3 {
        margin-left: 5px;
    }
    div.section {
        padding-left: 0 !important;
        padding-right: 0 !important;
        max-width: 100%;
    }
    p {
        padding: 0 5px;
    }
}
@media (max-width: 565px) {
    .sticky #title-nav {
        padding-top: 42px;
    }
    .sticky #title-nav {
        text-align: center;
    }
    .sticky #title-nav ul {
        margin: 0 auto;
        padding: 0;
        float: none;
    }
    #mentions {
        padding-top: 0;
        padding-bottom: 35px;
    }
    #mentions .kudos {
        margin-bottom: 0;
    }
}

.fancybox-thumbs>ul>li img[data-src*='presentation'] {
    height: 70px !important;
    width: 70px !important;
    min-width: 0 !important;
    min-height: 0 !important;
    position: static !important;
    margin: auto !important;
    display: block !important;
}

.iPhone {
    height: 548px;
    width: 320px;
    padding-top: 138px;
    padding-bottom: 115px;
    padding-left: 32px;
    padding-right: 30px;
    background-image: url('/Archive/jastr/iPhone5.png');
    background-repeat: no-repeat;
    background-position: left top;
    clear: none;
    box-sizing: content-box;
}

.graphic {
    display: inline-block;
    position: relative;
    margin: 0 15px;
    cursor: pointer;
    /*border: 1px solid transparent;*/
    margin: 1px 16px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: contain;
}
body.isDesktop .graphic:hover,
body.isMobile .graphic {
    border: 1px solid lightgrey;
    margin: 0 15px;
}
.graphic img {
    width: 225px;
    vertical-align: bottom;
}
.graphic .desc {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.8);
}
body.isDesktop .graphic:hover .desc,
body.isMobile .graphic .desc {
    opacity: 1;
    z-index: 999;
}
body.isMobile .graphic .desc {
    background-color: rgba(255, 255, 255, 0.7);
}
.graphic .desc p {
    position: absolute;
    bottom: 0;
    padding: 0 8px;
}

.vimeo {
    max-width: 100%;
}
.youtube {
    width: 500px;
    max-width: 100%;
    position: relative;
    display: inline-block;
    margin: 15px 0;
}
.youtube.full {
    max-width: 400px;
}
.youtube.half {
    margin: 15px 10px;
}
@media (max-width: 1090px) {
    .youtube.half {
        width: 47%;
        margin: 15px 1%;
    }
}
@media (max-width: 840px) {
    .youtube.half {
        width: 500px;
        margin: 15px 0;
        max-width: 100%;
    }
    .youtube.half.full {
        width: 400px;
    }
}
.youtube::before,
.youtube.wide::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%;
}
.youtube.full::before {
    padding-top: 75%;
}
.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#iPhone-prototype-selections {
    display: inline-block;
    vertical-align: top;
    margin: 150px 10px 20px 0;
}
@media (max-width: 646px) {
    #iPhone-prototype-selections {
        margin-top: 20px;
    }
}

span.bold {
    font-weight: bold;
}
span.uline {
    text-decoration: underline;
}

a.icon-link[data-fancybox] {
    white-space: nowrap;
}
body.isDesktop a.icon-link[data-fancybox]:hover,
body.isDesktop a.kudo-icon-link[data-fancybox]:hover {
    position: relative;
}
/*a[data-fancybox="final-ui"],
a.mine-final-pics[data-fancybox="final-msr"],
a[data-fancybox="images-ui"],
a[data-fancybox="images"],
a[data-fancybox="first"] {
    white-space: normal;
}
body.isDesktop .graphic a[data-fancybox]:hover,
body.isDesktop a[data-fancybox="final-ui"]:hover,
body.isDesktop a.mine-final-pics[data-fancybox="final-msr"]:hover,
body.isDesktop a[data-fancybox="images-ui"]:hover,
body.isDesktop a[data-fancybox="images"]:hover,
body.isDesktop a[data-fancybox="first"]:hover {
    position: static;
}
body.isDesktop .graphic a[data-fancybox]:hover::after,
body.isDesktop a.graphic[data-fancybox]:hover::after,
body.isDesktop a[data-fancybox="final-ui"]:hover::after,
body.isDesktop a.mine-final-pics[data-fancybox="final-msr"]:hover::after,
body.isDesktop a[data-fancybox="images-ui"]:hover::after,
body.isDesktop a[data-fancybox="images"]:hover::after,
body.isDesktop a[data-fancybox="first"]:hover::after {
    display: none;
}*/
body.isDesktop a.icon-link[data-fancybox]:hover::after,
body.isDesktop a.kudo-icon-link[data-fancybox]:hover::after {
    content: '';
    background-image: url('/img/fs.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    width: 20px;
    z-index: 999;
    position: absolute;
    /*left: -28px;*/
    right: 7px;
    background-color: white;
    -moz-box-shadow: 0px 0px 5px 5px white;
    -webkit-box-shadow: 0px 0px 5px 5px white;
    box-shadow: 0px 0px 5px 5px white;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
/*a:not(.icon-link)[data-fancybox] {
    white-space: nowrap;
}*/
body.isDesktop div:not(.graphic) > a:not(.icon-link)[data-fancybox]:hover {
    position: relative;
    display: inline-block;
}
body.isDesktop a:not(.icon-link)[data-fancybox]:hover::after {
    content: '';
    background-image: url('/img/fs.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    width: 20px;
    z-index: 999;
    position: absolute;
    /*left: -28px;*/
    right: 7px;
    bottom: 7px;
    background-color: white;
    -moz-box-shadow: 0px 0px 5px 5px white;
    -webkit-box-shadow: 0px 0px 5px 5px white;
    box-shadow: 0px 0px 5px 5px white;
    /*top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);*/
}
body.isDesktop div:not(.graphic) > a:not(.icon-link)[data-fancybox]:hover::after {
    right: 10px;
    bottom: 28px;
}
body.isDesktop *:not(.graphic) > a.kudo-icon-link:not(.icon-link)[data-fancybox]:hover::after {
    right: -27px;
    left: auto;
    bottom: auto;
}
img.logo,
a.logo > img {
    float: left;
    margin: 0 12px 0 0;
}
body.isDesktop div:not(.graphic) > a.logo:not(.icon-link):hover {
    margin: 0 12px 0 0;
    float: left;
    display: block;
}
body.isDesktop div:not(.graphic) > a.logo:not(.icon-link):hover > img {
    margin: 0 0 0 0;
}
body.isDesktop div:not(.graphic) > a.logo:not(.icon-link)[data-fancybox]:hover {
    display: block;
    float: left;
}
body.isDesktop div:not(.graphic) > a.logo:not(.icon-link)[data-fancybox]:hover::after {
    right: 7px;
    bottom: 7px;
}

a[target='_blank'] {
    padding-right: 21px;
    position: relative;
    white-space: nowrap;
}
a[target='_blank']::after {
    content: '';
    background-image: url('/img/new_win.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 14px;
    width: 14px;
    position: absolute;
    right: 2px;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0.6;
}
body.isDesktop a[target='_blank']:hover::after {
    opacity: 1;
}
#title-nav a[target='_blank'] {
    padding-right: 0;
    white-space: normal;
}
#title-nav a[target='_blank']::after {
    display: none !important;
}

#iPhone-prototype-selections a {
    padding-right: 26px;
    position: relative;
}
#iPhone-prototype-selections a::after {
    content: '';
    background-image: url('/img/play.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 19px;
    width: 19px;
    position: absolute;
    right: -6px;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 4px;
}

.wc-flow button.slick-prev.slick-arrow,
.wc-flow button.slick-next.slick-arrow {
    height: 50px;
    width: 25px;
}
